.card{
    
    background: #183738;
    border-radius: 15px;
    color: aliceblue;
}

.search-list{
    margin-top: 20px;
    border-radius: 15px;
    background-color:#635130;
}

.saveBook {
    border-radius: 5px;
    margin-left: 10px
}

.viewBook {
    border-radius: 5px;
    margin-left: 5px
}